.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura del 100% de la ventana */
}

.container {
    width: 100%; /* Ancho del contenedor */
}
.espacio{
    height: 2em;
}
.titulo{
    height: 4em;
}